extends layout
block heads
    link(rel='stylesheet', href='/stylesheets/auth.css')
block content
    center
        #content
            label 请输入ID
            form(action="/QRCode",method="GET")
                input(id="door_id",name="door_id",type="text",class="text-input")
                input(id="enter",type="submit",class="button",value="提交")