doctype html
html
  head
    title #{title}
    meta(content="width=device-width,user-scalable=no", name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")
    block heads
    script(src="/javascripts/jquery-1.11.0.min.js")
  body
    block content